{% extends 'base.html' %}
{% comment %} {% load static %} {% endcomment %}

{% block css1 %}<link rel="stylesheet" href="/static/css/style1.css">{% endblock css1 %}
{% block title %}Prashant{% endblock title %}

{% block body %}
<div class="about-section">
    <h1>Vision</h1>
    <p>We envision an entonomous video analysis system <br> that can extract useful informationfrom the real streaming videos</p>
    {% comment %} <p>Resize the browser window to see that this page is responsive by the way.</p> {% endcomment %}
  </div>
  
  <h2 style="text-align:center">Our Mentor</h2>
  <div class="row" style="display:flex; justify-content:center;" >
    <div class="column">
      <div class="card">
        <img  src="/static/images/rajiv.jpg" alt="Rajiv Kumar Singh" style="width:100">
        <div class="container">
          <h2>Jane Doe</h2>
          <p class="title">CEO & Founder</p>
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>
          <p>jane@example.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div> {% endcomment %}

    <div class="unit">
      <img src="/static/images/rajiv.jpg" alt="Dr. Rajeev Kumar Singh">
      <p>Dr. Rajeev Kumar Singh</p>
      <p>Assistant Professor
        Electronics & Communication Engineering Department
        rksingh@ietlucknow.ac.in</p>

    </div>
  </div>


  <div class="wrapper">
    <h2 style="text-align:center">Our Team</h2>
    <div class="faculties">
      
      <div class="unit">
        <img src="/static/images/ajeet.jpg" alt="Ajeet">
        <p>Ajeet Kumar</p>
        <p>Highly enthusiastic about learning and practically implementing technologies specially related to deep learning. 
          I wish to learn and acquire skills that can shape me as a valued professional 
          in the AI</p>

      </div>
      <div class="unit">
        <img src="/static/images/maneesh.jpg" alt="Maneesh">
        <p>Maneesh</p>
        <p>My greatest passion is to solve real-world problems using AI. 
          I strive to use my energy in data science to contribute the society by tackling
          complex problems through research and cutting-edge technologies.</p>

      </div>
      <div class="unit">
        <img  src="/static/images/prashant.jpg" alt="Prashant">
        <p>Prashant Singh</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Natus unde aliquid laborum voluptatum distinctio nobis?'</p>
      
    </div>
    <div class="unit">
        <img src="/static/images/pranjal.jpeg" alt="Pranjal Mittal">
        <p>Pranjal Mittal</p>
        <p>Hardworking, innovative and highly motivated for working on projects related to IOT, Embedded and robotics.
          A variety of skills holder to help with the professional field and always eager to learn more.</p>
      </div>
    </div>
  </div>

{% endblock body %}
