{% extends 'base.html' %}
{% load static %}

{% block css1 %}<link rel="stylesheet" href="/static/css/style.css">{% endblock css1 %}
{% block title %}Prashant{% endblock title %}

{% block body %}

<tr>
    <th><label for="id_form-0-first_name">First name:</label></th>
    <td>

      <input type="text" name="form-0-first_name" value="MANEESH" maxlength="30" id="id_form-0-first_name">


    </td>
  </tr>

  <tr>
    <th><label for="id_form-0-last_name">Last name:</label></th>
    <td>

      <input type="text" name="form-0-last_name" maxlength="30" id="id_form-0-last_name">   


        <input type="hidden" name="form-0-id" value="1" id="id_form-0-id">

    </td>
  </tr><tr>
    <th><label for="id_form-1-first_name">First name:</label></th>
    <td>

      <input type="text" name="form-1-first_name" value="PRANJAL" maxlength="30" id="id_form-1-first_name">


    </td>
  </tr>

  <tr>
    <th><label for="id_form-1-last_name">Last name:</label></th>
    <td>

      <input type="text" name="form-1-last_name" maxlength="30" id="id_form-1-last_name">   


        <input type="hidden" name="form-1-id" value="2" id="id_form-1-id">

    </td>
  </tr><tr>
    <th><label for="id_form-2-first_name">First name:</label></th>
    <td>

      <input type="text" name="form-2-first_name" value="Unknown" maxlength="30" id="id_form-2-first_name">


    </td>
  </tr>

  <tr>
    <th><label for="id_form-2-last_name">Last name:</label></th>
    <td>

      <input type="text" name="form-2-last_name" maxlength="30" id="id_form-2-last_name">   


        <input type="hidden" name="form-2-id" value="3" id="id_form-2-id">

    </td>
  </tr><tr>

    </td>
  </tr>

{% endblock body %}
