{% extends 'base.html' %}
{% block css1 %}<link rel="stylesheet" href="/static/css/index.css">{% endblock css1 %}
{% block title %}
Home
{% endblock title %}

{% block body %}
<h2 style="text-align:center">Welcome to user section</h2>
<div  id="demo" style="margin: 6%;">
    <div id="user">
    <div ></div>
    </div>
</div>

{% endblock body %}

{% block script %}
<script>
	function run() {

		// Creating Our XMLHttpRequest object
		var xhr = new XMLHttpRequest();

		// Making our connection
		var url = 'http://127.0.0.1:8000/user';
		xhr.open("GET", url, true);

		// function execute after request is successful
		xhr.onreadystatechange = function () {
			if (this.readyState == 4 && this.status == 200) {
                // console.log(this.responseText);
				var elem = document.getElementById('user');
                // elem.append(<div> heelo </div>)
                // elem.append(this.responseText)
                user_list = JSON.parse(this.response);
               var div = document.createElement(div)
               elem.innerHTML = 55555555
               console.log(typeof user_list);
               elem.append(div)
			}
		}
		// Sending our request
		xhr.send();
	}
    
	run();
</script>

{% endblock script %}